
html {
	height: 100%;
}
body
{
    font: 16px/24px Arial, Tahoma, "Open Sans",sans-serif;
    margin: auto;
    width: 1280px;
    /* background: url("../image/and1.gif"); */
    color: #020116
}



header
{
    padding: 10px 0 0 0;
}

h1
{
    font-size: 32px;

}

h2
{
    padding-top: 0.5em;
    font-size: 1.5em;
}


.wrapper
{
    width: 600px;
    display: inline-block;
    
}

.hand-canvas
{
    outline-style: double;
    /* width: 450px; */
    margin-bottom: 10px;
}

.button
{
    display: inline-block;
    padding: 0 10px 5px 0; 
    
}
form
{
    display: inline-block;
}

.button-image
{
    border-radius: 50px; 
    width: 60px;
    background-color: white;
    /* border:  1px solid black; */
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.6);
}
.button-image-design
{
    border-radius: 50px; 
    width: 30px;
    background-color: white;
    /* border:  1px solid black; */
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.6);
}


.radio
{
    display: none;
}
.res
{
    padding-top: 15px;
}
.reset
{
    padding: 0 0.5em;
    line-height: 1.6;
    border-radius: 3px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.6);
    color: #090841;
}
.svg
{
    display: inline-block;
}
.save
{
    display: inline;
    padding: 5px;
    line-height: 1.6;
    text-decoration: none;
    color: #090841;
    border-radius: 3px;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.6);
    /* width: 140px; */
    margin: auto;
    margin-left: 40px;
    margin-right: 50px;
    text-align: center;
    background: #ffffff;
}
input:checked + label
{
    outline-style: double;
}

canvas, #js-save
{
display: none;
}

#save-png {
cursor: pointer;
}
